* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.pri-color {
	color: #614eed!important;
}

.whi-color {
    color: white!important;
}

.bg-pri-color {
    background-color: #614eed!important;
}

.cursor_point {
    cursor: pointer!important;
}
/* Form input */
.scan-req-box
{
    width: 80%;
    margin: 0 auto;
    padding: 16px;
}

.scan-req-form
{

}

.scan-location-label
{

}

.scan-req-input
{
}

.scan-req-btn
{
    color: white;
    font-weight: 400;
}

.scan-req-btn:hover {
    background-color: #7b6de7!important;
}

#pieChart {
    height: 256px !important;
}

.dashboard-sumary-item {
    list-style: none;
    line-height: 60px;
    max-height: 100px;
    width: 400px;
    max-width: 40%;
    background-color: antiquewhite;
    padding: 20px;
    margin: 10px;
    font-size: 22px;
    font-weight: bold;
  }