* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

.mw-80 {
    min-width: 80%;
}

.pri-color {
	color: #614eed!important;
}

.whi-color {
    color: white!important;
}

.bg-pri-color {
    background-color: #614eed!important;
}

.cursor_point {
    cursor: pointer!important;
}
/* Form input */
.scan-req-box
{
    width: 100%;
    margin: 0 auto;
    padding: 16px;
}

.scan-req-btn
{
    color: white;
    font-weight: 400;
}

.scan-req-btn:hover {
    background-color: #7b6de7!important;
}

#pieChart {
    height: 256px !important;
}

.dashboard-sumary-item {
    list-style: none;
    line-height: 60px;
    max-height: 100px;
    width: 400px;
    max-width: 40%;
    background-color: antiquewhite;
    padding: 20px;
    margin: 10px;
    font-size: 22px;
    font-weight: bold;
}

.sidebar-menu {
    padding: 14px 8px 22px 0!important;
}

.sidebar-menu .nav-link {
    border-radius: 8px!important;
    display: block;
    padding: 10px 10px;
}

.sidebar-menu .active {
    background-color: #614eed!important;
    color: #fff!important;
}

/* Form upload */
.upload-file {
	text-align: center;
	padding: 60px;
}

.form-upload {
	border: 3px dashed #614eed;
	height: 350px;
	margin-top: 15px;
}

.icon-upload {
	text-align: center;
    width: 216px;
}

.icon-upload path {
    fill: #9f95ed;
	font-size: 70px;
}

.file-upload {
	display: none;
}

.frm-upload {
	margin-top: 20px;
}

.btn-upload {
    display: block;
    height: 100%;
    cursor: pointer;
}

.btn-submit {
	background-color: #614eed;
	color: white;
    width: 200px;
    padding: 10px;
}

.btn-submit:hover {
	background-color: #8274f2;
	color: white;
}

.action-btn svg {
    width: 18px;
    fill: #614eed;
}


#sync-btn svg {
    fill: #fff;
    width: 22px;
    margin-right: 10px;
}